* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --setaVisibility: "";
    --vsble: var(--setaVisibility);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7C026 url("../media/img/bodyBackground.jpg");
    background-size: auto;
    background-position: 110% 110%;
    background-repeat: no-repeat;
}

#app-container {
    position: relative;
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-container::before {
    content: '';
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: -1;
}



/*******************************
          GAME SCORE
*******************************/

.game-score {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 700;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.game-score::before {
    content: '';
    position: absolute;
    background-color: black;
    opacity: .5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

label {
    text-transform: uppercase;
    font-size: 2vmin;
}

.attempts, .pairs {
    font-size: 20px;
    font-weight: 500;
}

.attempts {
    color: red;
}

.pairs {
    color: lime;
}



/***************************
          TITLE
***************************/

.title-container {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container img {
    position: relative;
    width: 100%;
}

img.subtitle-image {
    width: 70%;
    margin-left: 5px;
}



/*****************************
         CARDS BOARD
*****************************/

.card-board {
    position: relative;
    display: flex;
    gap: 3%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.card {
    position: relative;
    width: 117px;
    height: 146px;
    margin-bottom: 20px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 9cm;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    display: var(--vsble);
    background-color: red;
    width: 20px;
    height: 20px;
    top: -30px;
    left: 50%;
    transform: translate(-50%) rotateZ(45deg);
    z-index: 3;
    transition: .5s;
}

.card:hover::before {
    transform: translate(-50%, 20px) rotateZ(45deg);
}

.front-face {
    transition: .6s linear;
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.back-face {
    z-index: 1;
    border-radius: 5px;
    transition: .6s linear;
}

.flipped-card .back-face {
    transform: rotateY(-180deg);
}

.flipped-card .front-face {
    transform: rotateY(0deg);
}

.flipped-card::before {
    display: none;
}

/*****************************
        GAME OVER
*****************************/

.game-over {
    position: absolute;
    width: 40%;
    height: 30%;
    background-color: #fff;
    bottom: 0;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3vmin;
    box-shadow: 0 0 5px 1px black;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s linear;
    display: none;
}

.game-over:hover {
    background-color: rgb(45, 216, 45);
    color: #000;
}